<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản lý xe</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
  </head>
  <body>
    <header>
      <h1>Quản lý vé xe</h1>
      <nav>
        <ul>
          <li><a th:href="@{/quanlyxe}">Quản lý xe</a></li>
          <li><a th:href="@{/quanlynhanvien}">Quản lý nhân viên</a></li>
          <li><a th:href="@{/quanlykhachhang}">Quản lý khách hàng</a></li>
          <li><a th:href="@{/quanlyvexe}">Quản lý vé xe</a></li>
        </ul>
      </nav>
      <div class="logout">
        <a th:href="@{/login}" class="btn-logout">Thoát</a>
      </div>
    </header>

    <main>
      <h2>Danh sách vé</h2>
      <button onclick="showAddForm()">Thêm ve moi</button>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Loại vé</th>
            <th>Giá vé</th>
          </tr>
        </thead>
        <tbody id="ve-table-body">
          <!-- Dữ liệu sẽ được hiển thị ở đây -->
        </tbody>
      </table>
    </main>

    <!-- Form Thêm/Sửa Vé  -->
    <div id="ve-form" class="form-container" style="display: none">
      <h2 id="form-title">Thêm vé</h2>

      <label>Loại Vé:</label>
      <input type="text" id="loaive" />

      <label>Giá:</label>
      <input type="text" id="gia" />

      <button onclick="saveVe()">Lưu</button>
      <button onclick="closeForm()">Hủy</button>
    </div>

    <script th:src="@{/js/ve.js}"></script>
  </body>
</html>
